.wrapper
{
    height: 100px;
    width:100px;
  /* background-color:black;*/

}
header
{
    height:150px;
    width:1850px;
   background-color:black;
}

section
{
    height:700px;
    width:1850px;
    background-color:grey;
}

footer
{
    height:300px;
    width:1850px;
    background-color:black;
}
.logo
{
    float:left;
      padding-left:20px;

}
.logo img
{
    padding-left:80px;
}
li a
{
  color:white;
  text-decoration:none;
}
/*nav
{
    float:right;
    word-spacing: 30px;
}
nav li
{
    display: inline-block;
    line-height: 100px;
}|*/
section .sec_img
{
    height:700px;
        width:1850px;
     background-image: url("wall.jpeg");
     background-repeat: no-repeat;
    

}

.table
{
  color:white;
  text-decoration:none;
}
 .center-table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
